<div class="content-label-row">
    <h3>Your Subscription</h3>
</div>
<hr>

<div class="content-body">
    <!-- Here we import our content -->
    <label class="title">Your Subscription: </label><label class="value">{{subscriptionName}} </label>
    <label class="title">From: </label><label class="value">{{from|date:'dd/MM/yyyy'}} </label>
    <label class="title">Until: </label><label class="value">{{until|date:'dd/MM/yyyy'}}</label>
    <label class="title">Duration: </label><label class="value">{{duration}} days</label>
    <label class="info">* If you want to change Subscription please <a href="">Contact With Us</a>!</label>
    

</div>
