<div>
<header >
    <app-front-navbar></app-front-navbar>
</header>

<!-- About us -->
<div id="aboutUs-section">
    <div class="about-us">
        <div class="about-us-title">About Us</div>
        <div class="about-us-text">
            <p>A team passionate for coding and eager to learn new things! The FantasticFour as we named our team
                for
                our
                last project in the Coding Bootcamp.
            </p>
            <p><span class="names">Nick</span>, a former cook, <span class="names">Nasos</span>, an information
                technology graduate, <span class="names">Chris</span>, a former barista & <span
                    class="names">Vicky</span> a
                former civil engineer.</p>
            <p>Although completely new to programming and with different backgrounds we managed to work as a team,
                get
                through the most difficult parts
                of the Coding Bootcamp and start our journey as Java developers.</p>
        </div>
    </div>
</div>

<app-footer></app-footer>
</div>