<div>
    <header>
        <app-front-navbar></app-front-navbar>
    </header>

    <!-- Terms & Conditions  -->
    <div class="terms-and-conditions">
        <div class="tc-title">Terms & Conditions</div>
        <hr>
        <div class="tc-text">
            <div id="terms-title">General</div>
            <div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, quisquam dicta repellat mollitia
                    vel
                    asperiores eos sed consequuntur ab aliquid culpa praesentium provident cumque temporibus fugit
                    enim
                    facere velit voluptatum, modi soluta rem possimus magnam quis. In nihil quos facere, provident
                    hic
                    voluptate autem, ut similique rerum non sit magni est, necessitatibus quis ullam!
                </p>
            </div>
            <div id="terms-title">1. General Terms</div>
            <div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, quisquam dicta repellat mollitia
                    vel
                    asperiores eos sed consequuntur ab aliquid culpa praesentium provident cumque temporibus fugit
                    enim
                    facere velit voluptatum, modi soluta rem possimus magnam quis. In nihil quos facere, provident
                    hic
                    voluptate autem, ut similique rerum non sit magni est, necessitatibus quis ullam!
                </p>
                <p> Placeat nemo tempore
                    accusamus facere officiis deleniti qui, inventore aliquam, dicta in ab unde? Architecto quam
                    fuga
                    rerum
                    dolorum commodi non veniam possimus mollitia, nostrum nesciunt dignissimos? Ipsum porro pariatur
                    excepturi nihil asperiores illum, ullam, et ducimus aspernatur cum quos, aliquam dolor itaque
                    eum
                    iusto
                    id?
                </p>
            </div>
            <div id="terms-title">2. GDPR</div>
            <div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, quisquam dicta repellat mollitia
                    vel
                    asperiores eos sed consequuntur ab aliquid culpa praesentium provident cumque temporibus fugit
                    enim
                    facere velit voluptatum, modi soluta rem possimus magnam quis.
                </p>
                <p>
                    In nihil quos facere, provident hic
                    voluptate autem, ut similique rerum non sit magni est, necessitatibus quis ullam! Placeat nemo
                    tempore
                    accusamus facere officiis deleniti qui, inventore aliquam, dicta in ab unde? Architecto quam
                    fuga
                    rerum
                    dolorum commodi non veniam possimus mollitia, nostrum nesciunt dignissimos.
                </p>
            </div>
            <div id="terms-title">3. Copyright</div>
            <div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, quisquam dicta repellat mollitia
                    vel
                    asperiores eos sed consequuntur ab aliquid culpa praesentium provident cumque temporibus fugit
                    enim
                    facere velit voluptatum, modi soluta rem possimus magnam quis. In nihil quos facere, provident
                    hic
                    voluptate autem, ut similique rerum non sit magni est, necessitatibus quis ullam! Placeat nemo
                    tempore
                    accusamus facere officiis deleniti qui, inventore aliquam, dicta in ab unde.
                </p>
            </div>
            <div id="terms-title">4. Security</div>
            <div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, quisquam dicta repellat mollitia
                    vel
                    asperiores eos sed consequuntur ab aliquid culpa praesentium provident cumque temporibus fugit
                    enim
                    facere velit voluptatum, modi soluta rem possimus magnam quis. In nihil quos facere.
                </p>
            </div>
        </div>
        <div id="terms-title">5. Other</div>
        <div>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, quisquam dicta repellat mollitia vel
                asperiores eos sed consequuntur ab aliquid culpa praesentium provident cumque temporibus fugit enim
                facere velit voluptatum, modi soluta rem possimus magnam quis.
            </p>
            <p> In nihil quos facere, provident hic
                voluptate autem, ut similique rerum non sit magni est, necessitatibus quis ullam! Placeat nemo
                tempore
                accusamus facere officiis deleniti qui, inventore aliquam, dicta in ab unde? Architecto quam fuga
                rerum
                dolorum commodi non veniam possimus mollitia, nostrum nesciunt dignissimos? Ipsum porro pariatur
                excepturi nihil asperiores illum, ullam, et ducimus aspernatur cum quos, aliquam dolor itaque eum
                iusto
                id.
            </p>
        </div>
    </div>

    <app-footer></app-footer>
</div>