
footer {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--footer-bg-color);
}

footer .content {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .content p,
footer a {
    color: whitesmoke;
}

footer .content .box {
    width: 33%;
    transition: all 0.4s ease;
}

footer .content .topic {
    font-size: 22px;
    font-weight: 600;
    color: whitesmoke;;
    margin-bottom: 16px;

}

footer .content p {
    text-align: justify;
}

footer .content .upper #pc-link:hover{
    color: orangered;
}

footer .content .lower .topic {
    margin: 24px 0 5px 0;
}

footer .content .lower i {
    padding-right: 16px;
}

footer .content .middle {
    padding-left: 80px;
}

footer .content .middle a {
    line-height: 32px;
}

footer .content .middle a:hover {
    color: var(--first-color);
}

footer .content .right input[type="text"] {
    height: 45px;
    width: 100%;
    outline: none;
    color: whitesmoke;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
}

footer .content .right input[type="submit"] {
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: whitesmoke;;
    background: var(--first-color);
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid var(--first-color);
    transition: all 0.3s ease-in-out;
}

footer .content .right input[type="submit"]:hover {
    background: none;
    color: var(--first-color);;
}

footer .content .media-icons a {
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #6e6d6d;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
}

.facebook-icon{
    --animate-duration:2s;
}

.instagram-icon{
    --animate-duration:2.2s;
}

.twiter-icon{
--animate-duration:2.4s;
}

.youtube-icon{
--animate-duration:2.6s;
}

.linkedin-icon{
--animate-duration:2.8s;
}

.github-icon{
--animate-duration:3.0s;
}

footer .content .media-icons a.facebook-icon:hover {
    border-color: #3b5998;
}

footer .content .media-icons a.instagram-icon:hover{
    border-color: #8a3ab9;
}

footer .content .media-icons a.twiter-icon:hover {
    border-color: #00acee;
}

footer .content .media-icons a.youtube-icon:hover {
    border-color: #FF0000;
}

footer .content .media-icons a.linkedin-icon:hover {
    border-color: #0e76a8;
}

footer .content .media-icons a.github-icon:hover {
    border-color: #4078c0;
}

footer .bottom {
    width: 100%;
    text-align: right;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
}

footer .bottom a {
    color: var(--first-color);;
}

footer a {
    transition: all 0.3s ease;
}

footer a.facebook-icon:hover {
    color: #3b5998;
}

footer a.instagram-icon:hover {
    color: #8a3ab9;
}

footer a.twiter-icon:hover {
    color: #00acee;
}

footer a.youtube-icon:hover {
    color: #FF0000;
}

footer a.linkedin-icon:hover {
    color: #0e76a8;
}

footer a.github-icon:hover {
    color: #4078c0;
}

@media (max-width:1100px) {
    footer .content .middle {
        padding-left: 50px;
    }
}

@media (max-width:950px) {
    footer .content .box {
        width: 50%;
    }

    footer .content .right {
        margin-top: 40px;
    }
}

@media (max-width:560px) {
    footer {
        position: relative;
    }

    footer .content .box {
        width: 100%;
        margin-top: 30px;
    }

    footer .content .middle {
        padding-left: 0;
    }
}
