<div>
    <header>
        <app-front-navbar></app-front-navbar>
    </header>

    <div id="landingPage">

        <!-- Slider -->
        <app-slider></app-slider>

        <br>
        <div class="ads">
            <div class="advertise-title">we are not just your pet's health record</div>
            <div id="float-child-1" class="img-text-wrapper">
                <div class="ads-img">
                    <img id="vet-img" class="shadow" src="/assets/images/vet-unsplash.jpg" alt="vet">
                </div>
                <div class="advertise-text">
                    <div id="text-title">
                        <p>01 &nbsp; PETclub for &nbsp; VETS</p>
                    </div>
                    <p>Join our app and have an online repository of all your client's pets.
                        We can help you expand your buisness and attract more customers,
                        through our continuous growing network.
                    </p>
                    <div class="try-now">
                        <a routerLink="/register">Try it now</a>
                    </div>
                    <div class="circles">
                        <span class="deco-dot"></span>
                        <span class="deco-dot"></span>
                        <span class="deco-dot"></span>
                        <span class="deco-dot"></span>
                    </div>
                </div>
            </div>

            <!-- shops -->
            <div id="float-child-2" class="img-text-wrapper">
                <div class="ads-img" id="groomer-img-div">
                    <img id="groomer-img" src="/assets/images/groomer-unsplash.jpg" alt="vet">
                </div>
                <div class="advertise-text" id="adv-text-even">
                    <div id="text-title">
                        <p>02 &nbsp; PETclub for &nbsp; Shops</p>
                    </div>
                    <p>Either you are a pet supplies store or a pet groomer you can use our app to advertise your
                        buisness
                        and attract more customers.
                        Grow your buisness now, join our team!
                    </p>
                    <div class="try-now">
                        <a routerLink="/register">Try it now</a>
                    </div>
                    <div class="circles">
                        <span class="deco-dot"></span>
                        <span class="deco-dot"></span>
                        <span class="deco-dot"></span>
                        <span class="deco-dot"></span>
                    </div>
                </div>

            </div>
            <!-- for all -->
            <div id="float-child-3" class="img-text-wrapper">
                <div class="ads-img">
                    <img id="dogs-img" src="/assets/images/dogs-unsplash.jpg" alt="vet">
                </div>
                <div class="advertise-text">
                    <div id="text-title">
                        <p>03 &nbsp; PETclub for &nbsp; Everyone</p>
                    </div>
                    <p>Have you lost your fur friend? Did you find a lost pet? In our lost & found section you can
                        post an add if you found a pet, or if you lost yours and try to notice the people around you!
                        It's super easy.
                    </p>
                    <div class="try-now">
                        <a routerLink="/register">Try it now</a>
                    </div>
                    <div class="circles">
                        <span class="deco-dot"></span>
                        <span class="deco-dot"></span>
                        <span class="deco-dot"></span>
                        <span class="deco-dot"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>